stages:
  - build
  - deploy

build:
  stage: build
  image: ubuntu:24.04
  before_script:
    - apt-get update && apt-get install -y cmake ninja-build g++
  script:
    - cmake -B build -G Ninja
    - cmake --build build
    - chmod +x build/s3al_sim
  artifacts:
    paths:
      - build/s3al_sim
    expire_in: 6 hour
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH

deploy:dated:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo "Creating dated release from commit $CI_COMMIT_SHORT_SHA"
  release:
    tag_name: 'v$(date +%Y.%m.%d-%H%M%S)'
    name: 'Release $(date +%Y-%m-%d) - $CI_COMMIT_SHORT_SHA'
    description: |
      Automated release from commit $CI_COMMIT_SHORT_SHA
      
      **Commit message:** $CI_COMMIT_MESSAGE
      
      **Download the binary** from the artifacts of the build job.
    assets:
      links:
        - name: 's3al_sim (Linux binary)'
          url: '${CI_PROJECT_URL}/-/jobs/artifacts/${CI_COMMIT_SHA}/raw/build/s3al_sim?job=build'
          link_type: 'package'
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  needs:
    - job: build
      artifacts: true